@font-face {
  font-family: 'ArtegaSans';
  src: url('../fonts/ArtegraSans-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ArtegaSans-Bold';
  src: url('../fonts/ArtegraSans-Bold.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ArtegaSans-Black';
  src: url('../fonts/ArtegraSans-Black.otf');
  font-weight: normal;
  font-style: normal;
}
